<div class="account-list-container">
  
  <h2>Criar Conta</h2>
  <form (ngSubmit)="createAccount()">
    <label for="client">Cliente:</label>
    <select id="client" [(ngModel)]="newAccount.client" name="client" required>
      <option *ngFor="let client of clients" [ngValue]="client">{{ client.name }} - {{ client.email }}</option>
    </select>

    <label for="accountNumber">Número da Conta:</label>
    <input type="number" id="accountNumber" [(ngModel)]="newAccount.accountNumber" name="accountNumber" required>

    <label for="accountBalance">Saldo Inicial:</label>
    <input type="number" id="accountBalance" [(ngModel)]="newAccount.accountBalance" name="accountBalance" required>
    {{ formatCurrency(newAccount.accountBalance) }}
    <button type="submit">Criar Conta</button>
  </form>

  <h2>Lista de Contas</h2>
  <ul>
    <li *ngFor="let account of accounts">
      {{ account.accountNumber }} - {{ account.client.name }} - Saldo: {{ formatCurrency(account.accountBalance) }}
      <!-- <button (click)="editAccount(account)">Editar</button> -->
      <button (click)="deleteAccount(account.id)">Excluir</button>
    </li>
  </ul>
</div>
